body{
  background-color: #99bdc1;
  text-align: center;

}
div{
  background-color: #70ada7;
  width: 75%;
  margin: auto;
  padding: 5px;
}

h1{
  background-color: #70ada7;
  font-size: 36pt;
  border: 1px dotted;
  padding: 5px;
}
.heading{
  font-family: sans-serif;
  font-size: 18pt;
}

.para{
  font-family: sans-serif;
  font-size: 12pt;
}
