body {
   background-color: #edbf79 ;
   text-align: center;
 }
h1  {
   color: #2f9635  ;
   font-family: sans-serif;
   font-size: 48pt;
   margin:0px;
    }
h2  {
   color: #236b28   ;
   font-family: sans-serif;
   font-size: 36pt;
   margin-top: 3px;
   margin-bottom: 3px;
    }
#specialh2 {
   color: #4969b3   ;
    opacity: 0.5;
   font-family: sans-serif;
   font-size: 36pt;
   }
div.innerdiv {
  padding-left: 10px;
  background-color: #e8e0a5;
  border: 3px;
  border-color: brown;
  border-style: solid;
}
div.outerdiv {
  margin: auto;
  width: 400px;
  background-color: #e8e0a5;
  border: 3px;
  border-color: black;
  border-style: solid;
}
div.middlediv {
  background-color: #e8e0a5;
  margin-right: 20px;
  padding:5px;
  border: 3px;
  border-color: white;
  border-style: solid;
}
p{
  margin-top: 0px;
  margin-bottom: 0px;
}
#wwp{
  color: red;
}
